
<%- include('partials/header') %>

<div class="heading">

  <h1>Mind map</h1>

  <!-- Make POST request to /mindmap route -->
  <form class="" action="/mindmap" method="POST">
    <input type="text" placeholder="Enter number of source" name="source">
    <input type="text" placeholder="Enter number of word" name="word"><br><br>
    <button type="submit">GO</button>
  </form>

</div>

<%- include('partials/footer') %>
